body {
    font-family: Arial, sans-serif;
    background-color: auto;
    text-align: auto;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
}

.module-list {
    list-style: none;
    padding: 0;
}

.module-list li {
    margin: 10px 0;
}

.module-list a {
    display: block;
    text-decoration: none;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.module-list a:hover {
    background: #0056b3;
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    padding: 2px;
    width: 100px;
}

input[type="file"] {
    border: none;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

input[type="button"] {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #5a6268;
}
